@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #010101;
  --primary: #fc004e;
  --secondary: #00e7f9;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-figtree: var(--font-figtree);
  --font-urbanist: var(--font-urbanist);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #010101;
    --foreground: #ededed;
  }
}

body {
  @apply bg-background text-foreground font-figtree;
}
