@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #010101;
  --primary: #fc004e;
  --secondary: #00e7f9;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-figtree: var(--font-figtree);
  --font-urbanist: var(--font-urbanist);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #010101;
    --foreground: #ededed;
  }
}

h3 {
  @apply font-bold text-[25px] md:text-3xl lg:text-[35px] font-urbanist leading-[30px] md:leading-[42px];
}

body {
  @apply text-foreground font-figtree text-base;
}

.container {
  @apply px-5 max-w-[390px] sm:max-w-xl md:max-w-3xl lg:max-w-5xl mx-auto;
}
